<div id="alligncentertextcenter">
	<div id= "splashfont">
	<h1> BEACH </h1>
	
	<p> 
Better TV
	</p>
	<%= link_to 'Browse Streams', streams_path %>
	<br>
	<br>
	<br>
	<br>

	<% if user_signed_in? %>
	    <%= current_user.email %>
	 <br>
	 <br>
	   <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
	<% else %>
	  <%= link_to('Login', new_user_session_path)  %>  
	<% end %>
<p>
	<% if user_signed_in? %>
	  <%= link_to('Edit User', edit_user_registration_path) %>
	<% else %>
	  <%= link_to('Sign Up', new_user_registration_path)  %>
	<% end %>
	</p>
	<br>
	<p>
		Version 0.4</p>
	</div>


</div>