<%= form_for(@stream) do |f| %>
  <% if @stream.errors.any? %>
<div id="alligncentertextleft">
    <div id="error_explanation">
    <div id="h2error">  <h2><%= pluralize(@stream.errors.count, "error") %> prohibited this stream from being saved:</h2> </div>

      <ul>
      <% @stream.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
</div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :size => 100  %>
  </div>
	<br>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description , :rows => 10, :cols => 100 %>
  </div>
	<br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br>

