<div id="scrollbox">
<table style="width:600px">

<% @stream.videos.each do |video| %>

<tr>
<td>
<%= link_to video.name, video.url, :target => :blank %>
</td>
<td>

<script type="text/javascript">
	//Display in Minutes:Seconds format
	var seconds = <%= video.length %>;
	
	if ( (seconds % 60) < 10 ){
	document.write( Math.floor(	seconds / 60) + ":0" + (seconds % 60) );
	} else {
	document.write( Math.floor(	seconds / 60) + ":" + (seconds % 60) );	
	}
</script>
</td>
<td>
<%= video.created_at.to_date %>
</td>
<td>
<%= link_to 'Delete', [video.stream, video],	method: :delete %>
</td>
</tr>

<% end %>

</table>
</div>

<h2>Add a video:</h2>
<%= form_for([@stream, @stream.videos.build]) do |f| %>

<div class="field">
  <%= f.label :url %><br>
  <%= f.text_field :url %>
</div>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>
