<div id="alligncentertextleft">

<p id="notice"><%= notice %></p>

<h1> <%= @stream.title %> </h1>

<h2>Edit</h2>

<%= form_for(@stream) do |f| %>
  <% if @stream.errors.any? %>
    <div id="error_explanation">
   <div id="h2error">   <h2><%= pluralize(@stream.errors.count, "error") %> prohibited this stream from being saved:</h2> </div>

      <ul>
      <% @stream.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description , :rows => 5, :cols => 50 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h2>Videos</h2>

<script type="text/javascript">
	//Display in Minutes:Seconds format
	var seconds = <%= @stream.totallength %>;
	
	if ( (seconds % 60) < 10 ){
	document.write("Total Footage in Stream: " +  Math.floor(	seconds / 60) + ":0" + (seconds % 60) );
	} else {
	document.write("Total Footage in Stream: " +  Math.floor(	seconds / 60) + ":" + (seconds % 60) );	
	}
</script>
<p>
	
</p>	

<%= render 'viddisplay' %>

<p> Programming the stream restarts the stream with the newly added videos </p>

<p>
<td><%= link_to 'Delete Stream', @stream, method: :delete, data: { confirm: 'Are you sure you want to delete this stream?' } %></td>
</p>

<%= link_to 'Watch', @stream, "data-no-turbolink" => true  %> |
<%= link_to 'Back', streams_path %>
</div>
