<div id="alligncentertextleft">

<p id="notice"><%= notice %></p>
<h1> <%= @stream.title %> </h1>

<h2>Edit  |   <%= link_to 'Watch', @stream, "data-no-turbolink" => true  %> </h2>


<%= form_for(@stream) do |f| %>
  <% if @stream.errors.any? %>
    <div id="error_explanation">
   <div id="h2error">   <h2><%= pluralize(@stream.errors.count, "error") %> prohibited this stream from being saved:</h2> </div>

      <ul>
      <% @stream.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description , :rows => 5, :cols => 50 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<h2>Videos  |  Playlists  |  Submissions</h2>

<script type="text/javascript">
	//Display in Hours:Minutes:Seconds format
	var totalSec = <%= @stream.totallength %>;
	var hours = parseInt( totalSec / 3600 ) % 24;
	var minutes = parseInt( totalSec / 60 ) % 60;
	var seconds = parseInt(totalSec % 60);

	var result = (hours < 10 ? "0" + hours : hours) + ":" + (minutes < 10 ? "0" + minutes : minutes) + ":" + (seconds  < 10 ? "0" + seconds : seconds);
	document.write("Total Footage in Stream " + result);
</script>
<p>
	
</p>	

<%= render 'viddisplay' %>

<br>
<div id="alligncentertextcenter">
<%= button_to "Program Stream", setvideos_stream_path(@stream), :class => "button", :method => :get  %>
Last Program <%= time_ago_in_words(@stream.reprogrammed_at)%> ago. 
<br>
Programming the stream randomizes the videos. 
<br>
<p>
</p>
</div>
</div>
<div id="alligncentertextleft">

<%= link_to 'Delete Stream', @stream, method: :delete, data: { confirm: 'Are you sure you want to delete this stream?' } %>
</div>

<div id="alligncentertextcenter">

<%= link_to 'Back', streams_path %>
</div>
