<% if user_signed_in? %>
<div id= "alligncentertextcenter">
<p id="notice"><%= notice %></p>
</div>
<div id="alligncentertextleft">

<table>
	<td>
		<%= link_to image_tag("play.svg"), @stream, "data-no-turbolink" => true  %>  
		</td>
	<td>
<h1> <%= @stream.title %> </h1>
	</td>
	<div id= "textright">
	<td>
		<script type="text/javascript">
			//Display in Hours:Minutes:Seconds format
			var totalSec = <%= @stream.totallength %>;
			var hours = parseInt( totalSec / 3600 ) % 24;
			var minutes = parseInt( totalSec / 60 ) % 60;
			var seconds = parseInt(totalSec % 60);

			var result = (hours < 10 ? "0" + hours : hours) + ":" + (minutes < 10 ? "0" + minutes : minutes) + ":" + (seconds  < 10 ? "0" + seconds : seconds);
			if (totalSec != 1){
			document.write("Footage duration in stream " + result);
			}
		</script>
		</td>
	</div>
</table>

<% if current_user.id = @addkey %>
You are the administrator of <%= @stream.title %>

<% else%>
You can contribute Youtube videos, playlists, and user channels to <%= @stream.title %>
<% end %>


<%= form_for(@stream) do |f| %>
  <% if @stream.errors.any? %>
    <div id="error_explanation">
   <div id="h2error">   <h2><%= pluralize(@stream.errors.count, "error") %> prohibited this stream from being saved:</h2> </div>

      <ul>
      <% @stream.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% if current_user.id = @addkey %>
<br> 
 <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description , :rows => 5, :cols => 50 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% end %>
	
<br>
<% if current_user.id = @addkey %>
<%= render "viddisplay" %>
<%= form_for([@stream, @stream.videos.build]) do |f| %>

<div class="field">
  <%= f.text_field :url, :size => 115 %>
</div>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>
<% else %>
<%= form_for([@stream, @stream.videos.build]) do |f| %>

<div class="field">
 <%= f.text_field :url, :size => 115 %>
</div>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>
<% end %>
<br>
<div class= "edittitles"><h1>User Channels</h1></div>
<br>
<div id="miniscrollbox">
<div id="viddisplaytable">
	
<table style="width:670px">
  <tbody>
    <% @stream.channels.each do |channel| %>
      <tr>
		<td><%= link_to channel.title, channel.url, :target => :blank %></td>
		<% if current_user.id = @addkey %>
		<td><div class="fader"><%= link_to image_tag("cross.svg"), [channel.stream, channel],	method: :delete %></div></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>	
</div>
</div>

	<%= form_for([@stream, @stream.channels.build]) do |f| %>

	  <div class="field">
	    <%= f.text_field :url, :size => 115 %>
	  </div>

	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
	<br>
					<div class= "edittitles"><h1>Playlists</h1></div>
					<br>
					<div id="miniscrollbox">
					<div id="viddisplaytable">

					<table style="width:670px">
					  <tbody>
					    <% @stream.playlists.each do |playlist| %>
					      <tr>
							<td><%= link_to playlist.title, playlist.url, :target => :blank %></td>
							<% if current_user.id = @addkey %>							
							<td><div class="fader"><%= link_to image_tag("cross.svg"), [playlist.stream, playlist],	method: :delete %></div></td>
							<% end %>
					      </tr>
					    <% end %>
					  </tbody>
					</table>
					</div>
					</div>
					
						<%= form_for([@stream, @stream.playlists.build]) do |f| %>

						  <div class="field"><%= f.text_field :url, :size => 115 %></div><div class="actions"><%= f.submit %></div>
						<% end %>
						


<br>

	<% if current_user.id = @addkey %>
<table>
	<tr>
	<td>
<%= button_to "Program Stream", setvideos_stream_path(@stream), :class => "button", :method => :get  %>
Last Program <%= time_ago_in_words(@stream.reprogrammed_at)%> ago. 
	</td>
	<td>
		<%= button_to "Filter", filter_stream_path(@stream), :class => "button", :method => :get  %>
	</td>
</tr>
</table>
	<% end %>
<br>
<br>
<% if current_user.id = @addkey %>
<div id= "textright">
<%= link_to 'Delete Stream', @stream, method: :delete, data: { confirm: 'Are you sure you want to delete this stream?' } %>
<br>
<br>
</div>
<% end %>

<% else %>
<br>
You are not signed in
<br>
<br>
<%= link_to "Back", :back, "data-no-turbolink" => true %>
</div>
<% end %>