<p id="notice"><%= notice %></p>

<h1>Edit Your Stream</h1>

<%= @stream.counter %>

<%= render 'form' %>

<h2>Videos</h2>

<p> Search </p>

<% @stream.videos.each do |video| %>

<p>

<strong>Name:</strong>

<script type="text/javascript">
    function youtubeFeedCallback(json){
    document.write(json["data"]["title"]);
    }

</script>

<script type="text/javascript" src= <%= video.vidstring %> >
	
</script>


</p>

<p>
  <strong>Url:</strong>
  <%= video.url %>
</p>


<p>

<strong>Length:</strong>

  
<script type="text/javascript">
    function youtubeFeedCallback(json){
	//this one gets just seconds which is useful for the server
    //(json["data"]["duration"]); IS THE TIME IN SECONDS

	//Display in Minutes:Seconds format
	if ( ((json["data"]["duration"]) % 60) < 10 ){
	document.write( Math.floor(	(json["data"]["duration"]) / 60) + ":0" + (((json["data"]["duration"]) % 60))  	)
	} else {
	document.write( Math.floor(	(json["data"]["duration"]) / 60) + ":" + (((json["data"]["duration"]) % 60))  	)	
	}

}
</script>
<script type="text/javascript" src= <%= video.vidstring %> >

</script>

</p>

<%= link_to 'Delete Video', [video.stream, video],	method: :delete %>

<% end %>

<h2>Add a video:</h2>
<%= form_for([@stream, @stream.videos.build]) do |f| %>

<div class="field">
  <%= f.label :url %><br>
  <%= f.text_field :url %>
</div>

<div class="actions">
  <%= f.submit %>
</div>



<% end %>

<p>
<td><%= link_to 'Delete Stream', @stream, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</p>

<%= link_to 'Watch', @stream, "data-no-turbolink" => true  %> |
<%= link_to 'Back', streams_path %>
