	<div id="alligncentertextcenter">
		
	<%= form_tag streams_path, method: :get do %>
	  <p>
	    <%= text_field_tag :query, params[:query], :class => 'inputBox' %>
	    <%= image_submit_tag ("search.png") %>
	  </p>
	<% end %>
		
	</div>
	
	<div id="alligncentertextleft">

<table>
<tbody>

	<tr>
		<td valign="top">
			<table style="width:400px">
			  <tbody>
			    <% @streams.each do |stream| %>
			    <tr valign="top">
				    <td><%= link_to stream.title, stream, "data-no-turbolink" => true %></td>
			        <td><%= truncate(stream.description, :length => 35) %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</td>
	</tr>	
</tbody>
</table>

<br>
</div>

<div id="alligncentertextcenter">
	<br>
	<% if user_signed_in? %>
	<div class="subscribebar">
	<table>
	  <tbody>
	    <% @subscriptions.each do |subscription| %>
	      <td>
<%= link_to subscription.title, watchsub_stream_path(subscription.user_id, title: subscription.title), "data-no-turbolink" => true %> 
		</td>
	    <% end %>
	  </tbody>
	</table>
	</div>
	<% end %>
	<br>

<br>

</p>

</div>
