	<div id="alligncentertextcenter">
		<br>
	<%= form_tag streams_path, method: :get do %>
	  <p>
	    <%= text_field_tag :query, params[:query], :class => 'inputBox' %>
	    <%= image_submit_tag ("search.png") %>
	  </p>
	<% end %>
	
	<% if user_signed_in? %>
	<%= link_to 'New Stream', new_stream_path %>
	<% else %>
	<%= link_to('Sign Up', new_user_registration_path) %> To create, contribute, and subscribe to streams
	<% end %>	
	
	</div>
	
	<div id="alligncentertextleft">

<table>
<tbody>
	<tr>
		<td>
			<h1>Streams</h1>
		</td>
		<td>
			<% if user_signed_in? %>
			<h1>Subscriptions</h1>
			<% end %>
		</td>
		<td>
			<% if user_signed_in? %>
			<h1>Administration</h1>
			<% end %>
		</td>		
	</tr>
	<tr>
		<td valign="top">
			<table style="width:400px">
			  <tbody>
			    <% @streams.each do |stream| %>
			    <tr valign="top">
				    <td><%= link_to stream.title, stream, "data-no-turbolink" => true %></td>
			        <td><%= truncate(stream.description, :length => 35) %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</td>
		<td valign="top">
		 	<% if user_signed_in? %>
			<table style="width:400px">
			  <tbody>
			    <% @subscriptions.each do |subscription| %>
			    <tr valign="top">
					<td> <%= link_to subscription.title, watchsub_stream_path(subscription.user_id, title: subscription.title), "data-no-turbolink" => true %> </td>
					<td><%= link_to 'Unsubscribe', [subscription.user, subscription], method: :delete %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
			<% end %>
		</td>
		<td valign="top">
		 	<% if user_signed_in? %>
			<table style="width:400px">
			<tbody>
				
			
			</tbody>
			</table>
			<% end %>
	</tr>	
</tbody>
</table>

<br>
</div>

<div id="alligncentertextcenter">

<br>
<%= link_to 'Back', splash_path %>

</div>
