	
	<div id="centerimage">
		<br>
		<br>
			<%= image_tag("beached_newcolors.svg") %>
			<br>
			<br>
			<div class = "vidcontrolls">
				<h1> Watch and Create live streams that feature Youtube content. </h1>
			</div>
		<br>
		
	<%= form_tag streams_path, method: :get do %>
	  <p>
	    <%= text_field_tag :query, params[:query], :class => 'inputBox' %>
	    <%= image_submit_tag ("search.png") %>
	  </p>
	<% end %>
		
	</div>
	
	<div id="alligncentertextleft">

<table>
<tbody>

	<tr>
		<td valign="top">
			<table style="width:400px">
			  <tbody>
			    <% @streams.each do |stream| %>
			    <tr valign="top">
				    <td><%= link_to stream.title, stream, "data-no-turbolink" => true %></td>
			        <td><%= truncate(stream.description, :length => 35) %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</td>
	</tr>	
</tbody>
</table>
<%= paginate @streams %>
<br>
</div>

<div id="alligncentertextcenter">
	<br>
		<%= render "subscribebar" %>
		
	<br>

<br>

</p>

</div>
