
<%= render 'watch' %>

<div id="vidcontrolls">
<table style="width:1070px">
	<tr>
		<td>
			<h1> <%= @stream.title %> </h1>
		</td>
		<td>
		<div id="textright">				
		<table>
					<td>
						<div id="subscribecount"><b> <%= @stream.subs %></b></div> 
					</td>
					<td>
						<%= pluralize_without_count(@stream.subs, "Subscriber") %> 
					</td>
			</table>
			</div>		
		</td>
	</tr>
	<tr>
		<td>
		  <%= @stream.description %>			
		</td>
		<td>
			<div id="textright">				
			<% if user_signed_in? %>
			<%= button_to @buttontext, subscribe_stream_path(@stream), :method => :get , :remote=>true, :class => 'subscribebutton'  %>
			<% else %>
			<%= button_to "Subscribe", new_user_registration_path, :method => :get, :class => 'subscribebutton' %>
			<% end %>
			</div>
		</td>
	</tr>
</table>
<br>

	<% if user_signed_in? %>
	<div class="subscribebar">
	<table>
	  <tbody>
	    <% @subscriptions.each do |subscription| %>
	      <td>
<%= link_to subscription.title, watchsub_stream_path(subscription.user_id, title: subscription.title), "data-no-turbolink" => true %> 
		</td>
	    <% end %>
	  </tbody>
	</table>
	</div>
	<% end %>
	
<% if user_signed_in? %>
<h2>Contribute</h2>
<%= form_for([@stream, @stream.videos.build]) do |f| %>

	<div class="field">
	  <%= f.text_field :url %>
	</div>

	<div class="actions">
	  <%= f.submit %>
	</div>

<% end %>
<% end %>

<div id="alligncentertextcenter">
<% if user_signed_in? %>
<% if current_user.id = @addkey %>
<%= link_to 'Edit', edit_stream_path(@stream), "data-no-turbolink" => true %> |
<% end %>
<% end %>
<%= link_to 'Back', streams_path %>
</div>
</div>
