
<%= render 'watch' %>
<br>
<div class="vidcontrolls">
<table style="width:1067px">
	<tr>
		<td>
			<h1> <%= @stream.title %> </h1>
		</td>
		<td>
			<div class="controlbar">
			<div id="alligncentertextcenter">
			 <img src="http://www.beached.tv/assets/pause-c1c0a3d060f908372ebecf2eb7e7c018.svg" id="play-button" />  &nbsp &nbsp &nbsp<img src="http://www.beached.tv/assets/sound-2850c52028b16dd2c2e264c5dddb39ba.svg" id="mute-button" /> &nbsp &nbsp &nbsp<img src="http://www.beached.tv/assets/resize-enlarge-a44a4204dca596b45aacb25610ee3189.svg" id="enlarge-button" /> &nbsp &nbsp &nbsp <%= link_to image_tag("twitter.svg"), "https://twitter.com/share", :target => :blank %>
			</div>
			</div>
		</td>
		<td>
		<div id="textright">				
		<table>
					<td>
						<div id="subscribecount"><b> <%= @stream.subs %></b></div> 
					</td>
					<td>
					<h3><%= pluralize_without_count(@stream.subs, "subscriber") %> </h3>
					</td>
			</table>
			</div>		
		</td>
	</tr>
	<tr>
		<td>
		  <%= @stream.description %>			
		</td>
		<td>
		</td>
		<td>
			<div id="textright">
				<table>
					<td>
				<% if user_signed_in? %>
					<% if current_user.id = @addkey %>
						<% else %>
						<%= button_to 'contribute', edit_stream_path(@stream), :class => 'subscribebutton', :method => "get" %> 
					<% end %>
				<% else %>
					<%= button_to "contribute", new_user_registration_path, :method => :get, :class => 'subscribebutton' %>
				<% end %>
					</td>
					<td>		
			<% if user_signed_in? %>
				<% if current_user.id = @addkey %>
					<%= button_to 'edit', edit_stream_path(@stream), :class => 'subscribebutton', :method => "get"  %> 
					<% else %>
					<%= button_to @buttontext, subscribe_stream_path(@stream), :method => :get , :remote=>true, :class => 'subscribebutton'  %>
				<% end %>
			<% else %>
			<%= button_to "subscribe", new_user_registration_path, :method => :get, :class => 'subscribebutton' %>
			<% end %>
				</td>
				</table>
			</div>
		</td>
	</tr>
</table>
<br>

	<%= render "subscribebar" %>
	
<br>
<br>	


<% if user_signed_in? %>
<% else %>
<h1> More Streams </h1>
<br>
	<div class="indexresults">

<table>
<tbody>
  <% @guide.each_slice(5) do |slice| %>   
		<td valign="top">
			<table>
			  <tbody>
			    <% slice.each do |stream| %>
			    <tr valign="middle">
				    <td><%= button_to stream.title, stream, :class => 'subscribebutton', :method => "get", "data-no-turbolink" => true  %></td>
			        <td><%= truncate(stream.description, :length => 30) %></td>
			    </tr>
			    <% end %>
			  </tbody>
			</table>
		</td>
	<% end %>

</tbody>
</table>
<br>
</div>
<% end %>
</div>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
