
<%= render 'watch' %>

<div id="vidcontrolls">

<h2> <%= @stream.title %> </h2>

<b><%= @stream.subs %></b> Subscribers

<% if user_signed_in? %>
<%= button_to "Subscribe / Unsubscribe", subscribe_stream_path(@stream), :class => "button", :method => :get , :remote=>true %>
<% end %>


<p>
  <strong>Description:</strong>
  <%= @stream.description %>
</p>

	<% if user_signed_in? %>
	<table>
	  <thead>
	    <tr valign="top">
	      <th>Subscriptions</th>
			<th> </th>
	      <th colspan="2"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @subscriptions.each do |subscription| %>
	      <td>
			 <%= link_to subscription.title, watchsub_stream_path(subscription.user_id, title: subscription.title), "data-no-turbolink" => true %> 
			
	      </td>
	    <% end %>
	  </tbody>
	</table>
	<% end %>
	
<% if user_signed_in? %>
<h2>Contribute</h2>
<%= form_for([@stream, @stream.videos.build]) do |f| %>

	<div class="field">
	  <%= f.text_field :url %>
	</div>

	<div class="actions">
	  <%= f.submit %>
	</div>

<% end %>
<% end %>

<div id="alligncentertextcenter">
<% if user_signed_in? %>
<% if current_user.id = @addkey %>
<%= link_to 'Edit', edit_stream_path(@stream), "data-no-turbolink" => true %> |
<% end %>
<% end %>
<%= link_to 'Back', streams_path %>
</div>
</div>
