<h2> <%= @stream.title %> </h2>


<p>
  <strong>Description:</strong>
  <%= @stream.description %>
</p>

<%= render 'watch' %>







<%= link_to 'Edit', edit_stream_path(@stream) %> |
<%= link_to 'Back', streams_path %>
