<script>
$(document).ready(function() {
	
    $('#showmenu').click(function() {
            $('.menu').slideToggle("slideUp");
    });
});
</script>


<div class="menu" style="display: none;">
<ul class="navigation">
	
	<li class="nav-item"><%= link_to('Log In', new_user_session_path)  %></li>
	<li class="nav-item"><%= link_to('Create Stream', new_stream_path )%></li>
	<%= link_to image_tag("user.svg"), edit_user_registration_path %>

	<h1> Subscriptions </h1>
	
	<% if user_signed_in? %>
		<% if @subscriptions.blank? %>
		
		<% else %>
	    <% @subscriptions.each do |subscription| %>
	
<li class="nav-item"><%= link_to subscription.title, watchsub_stream_path(subscription.user_id, title: subscription.title), "data-no-turbolink" => true %> </li>
	    <% end %>


		<% end %>
	<% else %>
		
	<% end %>
	<h1> All</h1>
		    <% @allstreams.each do |stream| %>

	<li class="nav-item"><%= link_to stream.title, watchsub_stream_path(title: stream.title), "data-no-turbolink" => true %> </li>
		    <% end %>
	
	
</ul>
</div>	


<div class="site-wrap">
	<div class="Vid-Container">
 	<%= render 'watch' %>
	</div> 
  
</div>

