<h2> <%= @stream.title %> </h2>



<%= render 'watch' %>


<p>
  <strong>Description:</strong>
  <%= @stream.description %>
</p>





<%= link_to 'Edit', edit_stream_path(@stream), "data-no-turbolink" => true %> |
<%= link_to 'Back', streams_path %>
