
<%= render 'watch' %>

<div id="vidcontrolls">

<h2> <%= @stream.title %> </h2>
<%= button_to "Subscribe / Unsubscribe", subscribe_stream_path(@stream), :class => "button", :method => :get , :remote=>true %>
<b><%= @stream.subs %></b> Subscribers


<p>
  <strong>Description:</strong>
  <%= @stream.description %>
</p>

<p>Fullscreen | Go to Live </p>
<p>Previous Stream | Next Stream</p>
<p>Contribute Field</p>


<div id="alligncentertextcenter">
<%= link_to 'Edit', edit_stream_path(@stream), "data-no-turbolink" => true %> |
<%= link_to 'Back', streams_path %>
</div>
</div>
