<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
	
  <title>Beached</title>
  <%= stylesheet_link_tag  "beach" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>

<div class="header">
	<table>
		<tr>
		<td style="vertical-align:middle"> 
			<div class ="logo"> <%= link_to image_tag("miniicon.png"), streams_path %> </div>  
			<div class= "headcontrolls"> <br> &nbsp  <%= link_to(' [ B E A C H E D ]' , streams_path) %> </div>
		</td>
			<div id="alligncentertextcenter">
		<td>
			<div id="alligncentertextcenter">
			
		<%= image_tag("graph.svg") %> 
		
			</div>
		</td>
			</div>

		<td>
			<div id= "textright">
				<div class= "headcontrolls">
				<% if user_signed_in? %>
				  <%= link_to 'CREATE', new_stream_path %> &nbsp &nbsp &nbsp <%= link_to('ACCOUNT', edit_user_registration_path) %> &nbsp &nbsp &nbsp <%= link_to('SEARCH' , streams_path) %> &nbsp
				<% else %>
				  <%= link_to('JOIN', new_user_registration_path)  %> &nbsp &nbsp  &nbsp  <%= link_to('LOG IN', new_user_session_path)  %> &nbsp &nbsp &nbsp  <%= link_to 'CREATE', new_stream_path %> &nbsp 
				<% end %>
				</div>
			</div>
		</td>
		</tr>
	</table>
</div>

<br>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52156202-1', 'beached.tv');
  ga('send', 'pageview');

</script>

</head>
<body>
	


<%= yield %>



</body>

<footer>
<br>
</footer>


</html>
