<!DOCTYPE html>
<html>
<head>
  <title>Beach</title>
  <%= stylesheet_link_tag  "beach" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>

<div id="vidcontrolls">
<%= link_to image_tag("smallbanner.png"), streams_path %> 
</div>

</head>
<body>
	


<%= yield %>



</body>

<footer>
<br>
<br>
<br>
<br>
<br>
</footer>


</html>
