<!DOCTYPE html>
<html>
<head>
  <title>Beach</title>
  <%= stylesheet_link_tag  "beach" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
</head>
<body>
<br>	
<br>	
<br>	
<br>	
<br>	
<br>
<br>	
<br>	
<br>	
<br>	
<br>	

<div id="alligncentertextcenter">
<%= link_to image_tag("smallbanner.png"), streams_path %> 
<br>

<%= yield %>


</div>

</body>

<footer>
<br>
<br>
<br>
<br>

</footer>


</html>
