<!DOCTYPE html>
<html>
<head>
  <title>Beach</title>
  <%= stylesheet_link_tag  "beach" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
<br>
	<div id="alligncentertextleft">
	<% if current_user.id = @addkey %>
	<%= link_to image_tag("smallbanner.png"), streams_path%> Admin |  
	    <%= current_user.email %>
	<% end %>
	</div>

</head>
<body>

	
<%= yield %>

</body>

<footer>
<br>
<br>
</footer>

</html>
