<!DOCTYPE html>
<html>
<head>
  <title>Beach</title>
  <%= stylesheet_link_tag  "beach" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
</head>
<body>
	<div id="alligncentertextcenter">
	<%= image_tag("beachlogomodern.png")%> 
	</div>
	
<%= yield %>

</body>
</html>
