<!DOCTYPE html>
<html>
<head>
  <title>Beach</title>
  <%= stylesheet_link_tag  "beach" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>

	<ul class="hmenu">
	  <%= render 'devise/menu/registration_items' %>
	  <%= render 'devise/menu/login_items' %>
	</ul>
	
	<div id="vidcontrolls">
	<%= image_tag("smallbanner.png")%> 
	</div>
	
	
</head>
<body>
	
	
	
<%= yield %>



</body>

<footer>
<br>
<br>
<br>
<br>
<br>
</footer>


</html>
